{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static "gtc_app/style.css" %}">
    <title>Sistema GTC / Página Principal</title>
</head>
<body>

    <a id="topo"></a>
    {% include "gtc_app/rotas/menu.html" %}
    <div class="principal">
        <h1>Últimos Usuários Cadastrados</h1>
        <ul>
            {% for usuario in usuarios %}
                <li>
                    <strong class="dados">Nome:</strong> {{ usuario.nome }}&nbsp;&nbsp;&nbsp;
                    <strong class="dados">Data de Nascimento:</strong> {{ usuario.data_nascimento }}&nbsp;&nbsp;&nbsp;
                    <strong class="dados">Email:</strong> {{ usuario.email }}&nbsp;&nbsp;&nbsp;
                    <strong class="dados">País:</strong> {{ usuario.pais }}<br><br>
                </li>
            {% endfor %}
        </ul>
        <a href="#topo" class="topo">Voltar ao Topo</a>
    </div>

</body>
</html>