{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static "gtc_app/style.css" %}">
    <title>Sistema GTC / Página Principal</title>
</head>
<body>

    <a id="topo"></a>
    {% include "gtc_app/rotas/menu.html" %}
    <div class="principal">
        <h1>Últimos Usuários Cadastrados</h1>
        {% for usuario in usuarios %}
            <table>
                    <tr>
                        <td class="nome"><strong>Nome</strong></td>
                        <td class="data"><strong>Data de Nascimento</strong></td>
                        <td class="email"><strong>Email</strong></td>
                        <td class="pais"><strong>País</strong></td>      
                    </tr>
                    <tr>
                        <td class="nome0">{{ usuario.nome }}</td>
                        <td class="data0">{{ usuario.data_nascimento|date:"d" }}/{{ usuario.mes_nascimento }}/{{ usuario.data_nascimento|date:"Y" }}</td>
                        <td class="email0">{{ usuario.email }}</td>
                        <td class="pais0">{{ usuario.pais }}</td>
                    </tr>
            </table><br>
        {% endfor %}
        <a href="#topo" class="topo"><b>Volta ao Topo</b></a>
    </div>
</body>
</html>