{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static "gtc_app/style.css" %}">
    <title>Sistema GTC / Página Principal</title>
</head>
<body>

    <a id="topo"></a>
    {% include "gtc_app/rotas/menu.html" %}
    <div id="topo-principal" class="principal">
        <h1>Últimos Usuários Cadastrados</h1>
        <table>
            {% for usuario in usuarios %}
                <tr>
                    <td>Nome: {{ usuario.nome }}</td>
                </tr>
                <tr>
                    <td>Data de Nascimento: {{ data_formatada }}</td>
                </tr>
                <tr>
                    <td>Email: {{ usuario.email }}</td>
                </tr>
                <tr>
                    <td>País: {{ usuario.pais }}</td>
                </tr>
            {% endfor %}
        </table>
        <a href="#topo" class="topo">Voltar ao Topo</a>
    </div>

</body>
</html>