{% load static %}
<div class="alfabeto">
    <a href="{% url 'pesquisar' %}?letra=a" class="letras">A</a>
    <a href="{% url 'pesquisar' %}?letra=b" class="letras">B</a>
    <a href="{% url 'pesquisar' %}?letra=c" class="letras">C</a>
    <a href="{% url 'pesquisar' %}?letra=d" class="letras">D</a>
    <a href="{% url 'pesquisar' %}?letra=e" class="letras">E</a>
    <a href="{% url 'pesquisar' %}?letra=f" class="letras">F</a>
    <a href="{% url 'pesquisar' %}?letra=g" class="letras">G</a>
    <a href="{% url 'pesquisar' %}?letra=h" class="letras">H</a>
    <a href="{% url 'pesquisar' %}?letra=i" class="letras">I</a>
    <a href="{% url 'pesquisar' %}?letra=j" class="letras">J</a>
    <a href="{% url 'pesquisar' %}?letra=k" class="letras">K</a>
    <a href="{% url 'pesquisar' %}?letra=l" class="letras">L</a>
    <a href="{% url 'pesquisar' %}?letra=m" class="letras">M</a>
    <a href="{% url 'pesquisar' %}?letra=n" class="letras">N</a>
    <a href="{% url 'pesquisar' %}?letra=o" class="letras">O</a>
    <a href="{% url 'pesquisar' %}?letra=p" class="letras">P</a>
    <a href="{% url 'pesquisar' %}?letra=q" class="letras">Q</a>
    <a href="{% url 'pesquisar' %}?letra=r" class="letras">R</a>
    <a href="{% url 'pesquisar' %}?letra=s" class="letras">S</a>
    <a href="{% url 'pesquisar' %}?letra=t" class="letras">T</a>
    <a href="{% url 'pesquisar' %}?letra=u" class="letras">U</a>
    <a href="{% url 'pesquisar' %}?letra=v" class="letras">V</a>
    <a href="{% url 'pesquisar' %}?letra=w" class="letras">W</a>
    <a href="{% url 'pesquisar' %}?letra=x" class="letras">X</a>
    <a href="{% url 'pesquisar' %}?letra=y" class="letras">Y</a>
    <a href="{% url 'pesquisar' %}?letra=z" class="letras">Z</a>
</div>
