{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static "gtc_app/style.css" %}">
    <title>Sistema GTC / Atualizar</title>
</head>
<body>
    
    {% include "gtc_app/rotas/menu.html" %}
    <div class="atualizar">
        <a id="topo"></a>
        <h1><b>Atualizar dados dos Usuários</b></h1>
        <form id="search-form" action="{% url 'atualizar' %}" method="POST">
            {% csrf_token %}
            <!-- CAEp Cadastrar, Atualizar, Deletar e Pesquisar-->
            <input type="text" id="nome_pes" name="nome_pes" placeholder="Digite o nome da pesquisa" class="caep">
            <button type="submit" class="caep">Pesquisar</button>
            <button type="button" onclick="window.location.href='{% url 'atualizar' %}'" class="caep">Limpar Pesquisa</button>        </form>
            <h3>Filtrar Usuários</h3>
            <!-- Alfabeto para filtrar por letra inicial -->
            {% include "gtc_app/rotas/alfabeto.html" %}
            
        
            {% if pesquisando %}
                {% if h3 %}
                    <h3>{{ h3 }}</h3>
                {% endif %}

                {% if pesquisando.resultado %}
                    {% for usuario in pesquisando.resultado %}
                        <table>
                            <tr>
                                <td class="nome"><strong>Nome</strong></td>
                                <td class="data"><strong>Data de Nascimento</strong></td>
                                <td class="email"><strong>Email</strong></td>
                                <td class="pais"><strong>País</strong></td>      
                            </tr>
                            <tr>
                                <td class="nome">{{ usuario.nome }}</td>
                                <td class="data">{{ usuario.data_nascimento|date:"d" }}/{{ usuario.mes_nascimento }}/{{ usuario.data_nascimento|date:"Y" }}</td>
                                <td class="email">{{ usuario.email }}</td>
                                <td class="pais">{{ usuario.pais }}</td>
                            </tr>
                        </table>
                        <!-- CAEp Cadastrar, Atualizar, Deletar e Pesquisar-->
                        <!-- Botão de atualização -->
                        <button class="caep" onclick="document.getElementById('formAtualizacao{{ usuario.id }}').style.display = 'block'">Editar</button><br><br>
                        <!-- Formulário de atualização -->
                            <!-- Formulário de atualização -->
                        <form id="formAtualizacao{{ usuario.id }}" action="{% url 'atualizar' %}" method="post" style="display: none;">
                            {% csrf_token %}
                            <!-- Campos do formulário de atualização -->
                            <label for="nome" class="nb">Nome:</label>
                            <input type="text" id="nome" class="caep" name="nome" value="{{ usuario.nome }}" required><br><br>
                            
                            <label for="data_nascimento" class="nb">Data de Nascimento:</label>
                            <input type="date" id="data_nascimento" class="caep" name="data_nascimento" value="{{ usuario.data_nascimento|date:'Y-m-d' }}" required><br><br>
                            
                            <label for="email" class="nb">E-mail:</label>
                            <input type="email" id="email" class="caep" name="email" value="{{ usuario.email }}" required><br><br>
                            
                            <div class="email_e">
                                {% if email_erro %}
                                    <p>{{ email_erro }}</p>
                                {% endif %}
                            </div>

                            <label for="pais" class="nb">País:</label>
                            <select id="pais" class="caep" name="pais" required>
                                <option value="" disabled selected>Selecione o país</option>
                                {% for pais in paises %}
                                    <option value="{{ pais.nome }}" {% if pais.nome == usuario.pais.nome %}selected{% endif %}>{{ pais.nome }}</option>
                                {% endfor %}
                            </select><br><br>
                            
                            <button type="submit" name="id" value="{{ usuario.id }}" class="caep">Salvar Alterações</button><br><br> <!-- Botão para enviar o formulário -->
                        </form>                 
                    {% endfor %}
                {% else %}
                    <p>Nenhum resultado encontrado.</p>
                {% endif %}
            {% else %}
                {% for usuario in pesquisando %}
                    <table>
                        <tr>
                            <td class="nome"><strong>Nome</strong></td>
                            <td class="data"><strong>Data de Nascimento</strong></td>
                            <td class="email"><strong>Email</strong></td>
                            <td class="pais"><strong>País</strong></td>      
                        </tr>
                        <tr>
                            <td class="nome">{{ usuario.nome }}</td>
                            <td class="data">{{ usuario.data_nascimento|date:"d" }}/{{ usuario.mes_nascimento }}/{{ usuario.data_nascimento|date:"Y" }}</td>
                            <td class="email">{{ usuario.email }}</td>
                            <td class="pais">{{ usuario.pais }}</td>
                        </tr>
                    </table><br>
                {% endfor %}
        {% endif %}
        <a href="#topo" class="topo"><b>Volta ao Topo</b></a>
    </div>
</body>
</html>