{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static "gtc_app/style.css" %}">
    <title>Sistema GTC / Deletar</title>
</head>
<body>
    
    {% include "gtc_app/rotas/menu.html" %}
    <div class="deletar" id="deletar-topo">
        <h2>Pesquisar Usuários por Nome</h2>
        <form id="search-form" action="{% url 'deletar' %}" method="POST">
            {% csrf_token %}
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" placeholder="Digite o nome">
            <button type="submit">Pesquisar</button>
            <button type="button" onclick="window.location.href='{% url 'deletar' %}'" class="limpar">Limpar Pesquisa</button>        </form>
        
            <!-- Alfabeto para filtrar por letra inicial -->
            {% include "gtc_app/rotas/alfabeto.html" %}
            
        
            {% if pesquisando %}
                {% if h3 %}
                    <h3>{{ h3 }}</h3>
                {% endif %}

                {% if pesquisando.resultado %}
                    <ul>
                    {% for usuario in pesquisando.resultado %}
                        <li>
                            <strong>Nome:</strong> {{ usuario.nome }}<br>
                            <strong>Data de Nascimento:</strong> {{ usuario.data_nascimento }}<br>
                            <strong>Email:</strong> {{ usuario.email }}<br>
                            <strong>País:</strong> {{ usuario.pais }}<br>
                            <form id="delete-form" action="{% url 'deletar' %}" method="POST">
                                {% csrf_token %}
                                <!-- Outros campos do formulário... -->
                                <input type="hidden" name="id" value="{{ usuario.id }}">
                                <button type="submit">Excluir</button>
                            </form>
                            
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Nenhum resultado encontrado.</p>
                {% endif %}

            {% else %}
                <ul>
                {% for usuario in pesquisando %}
                    <li>
                        <strong>Nome:</strong> {{ usuario.nome }}<br>
                        <strong>Data de Nascimento:</strong> {{ usuario.data_nascimento }}<br>
                        <strong>Email:</strong> {{ usuario.email }}<br>
                        <strong>País:</strong> {{ usuario.pais }}
                    </li>
                {% endfor %}
                </ul>
        {% endif %}
        <a href="#deletar-topo" class="topo">Voltar ao Topo</a>
    </div>
</body>
</html>