{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static "gtc_app/style.css" %}">
    <title>Sistema GTC / Pesquisar</title>
</head>
<body>
    
    {% include "gtc_app/rotas/menu.html" %}
    <div class="pesquisar">
        {% extends 'base.html' %}
        {% block content %}
        <h2>Pesquisar Pessoas Cadastradas por Nome</h2>
        <form action="{% url 'pesquisar_pessoas' %}" method="GET">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" placeholder="Digite o nome">
            <button type="submit">Pesquisar</button>
        </form>

        {% if nome_pesquisado %}
            <h3>Resultados da Pesquisa para "{{ nome_pesquisado }}":</h3>
            {% if pessoas %}
                <ul>
                {% for pessoa in pessoas %}
                    <li>{{ pessoa.nome }}</li>
                    <!-- Adicione aqui os outros campos da pessoa -->
                {% endfor %}
                </ul>
            {% else %}
                <p>Nenhuma pessoa encontrada com o nome "{{ nome_pesquisado }}"</p>
            {% endif %}
        {% endif %}
        {% endblock %}

    </div>

</body>
</html>