{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static "gtc_app/style.css" %}">
    <title>Sistema GTC / Pesquisar</title>
</head>
<body>

    
    {% include "gtc_app/rotas/menu.html" %} <!-- Inclui o menu -->
    <div class="pesquisar">
        <a id="topo"></a>
        <h1><b>Pesquisar Usuários Cadastrados</b></h1>
        <form id="search-form" action="{% url 'pesquisar' %}" method="POST">
            {% csrf_token %}
            <input type="text" id="nome" class="caep" name="nome" placeholder="Digite o nome da pesquisa">
            <button type="submit" class="caep">Pesquisar</button>
            <button type="button" class="caep" onclick="window.location.href='{% url 'pesquisar' %}'" class="limpar">Limpar Pesquisa</button>        </form>
            <h3>Filtrar Usuários</h3>
            <!-- Alfabeto para filtrar por letra inicial -->
            {% include "gtc_app/rotas/alfabeto.html" %}
            
            {% if pesquisando %}
                {% if h3 %}
                    <h3>{{ h3 }}</h3>
                {% endif %}
                {% if pesquisando.resultado %}
                    {% for usuario in pesquisando.resultado %}
                        <table>
                            <tr>
                                <td class="nome"><strong>Nome</strong></td>
                                <td class="data"><strong>Data de Nascimento</strong></td>
                                <td class="email"><strong>Email</strong></td>
                                <td class="pais"><strong>País</strong></td>      
                            </tr>
                            <tr>
                                <td class="nome">{{ usuario.nome }}</td>
                                <td class="data">{{ usuario.data_nascimento|date:"d" }}/{{ usuario.mes_nascimento }}/{{ usuario.data_nascimento|date:"Y" }}</td>
                                <td class="email">{{ usuario.email }}</td>
                                <td class="pais">{{ usuario.pais }}</td>
                            </tr>
                        </table><br>
                    {% endfor %}
                {% else %}
                    <p>Nenhum resultado encontrado.</p>
                {% endif %}
            {% else %}
                {% for usuario in pesquisando %}
                    <table>
                        <tr>
                            <td class="nome"><strong>Nome</strong></td>
                            <td class="data"><strong>Data de Nascimento</strong></td>
                            <td class="email"><strong>Email</strong></td>
                            <td class="pais"><strong>País</strong></td>      
                        </tr>
                        <tr>
                            <td class="nome">{{ usuario.nome }}</td>
                            <td class="data">{{ usuario.data_nascimento|date:"d" }}/{{ usuario.mes_nascimento }}/{{ usuario.data_nascimento|date:"Y" }}</td>
                            <td class="email">{{ usuario.email }}</td>
                            <td class="pais">{{ usuario.pais }}</td>
                        </tr>
                    </table><br>
                {% endfor %}
        {% endif %}
        <a href="#topo" class="topo"><b>Volta ao Topo</b></a>
    </div>
</body>
</html>
