{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static "gtc_app/style.css" %}">
    <title>Sistema GTC / Pesquisar</title>
</head>
<body>

    
    {% include "gtc_app/rotas/menu.html" %} <!-- Inclui o menu -->
    <div class="pesquisar">
        <a id="topo"></a>
        <h1><b>Pesquisar Usuários Cadastrados</b></h1>
        <form id="search-form" action="{% url 'pesquisar' %}" method="POST">
            {% csrf_token %}
            <input type="text" id="nome" class="caep" name="nome" placeholder="Digite o nome da pesquisa">
            <button type="submit" class="caep">Pesquisar</button>
            <button type="button" class="caep" onclick="window.location.href='{% url 'pesquisar' %}'" class="limpar">Limpar Pesquisa</button>        </form>
            <h3>Filtrar Usuários</h3>
            <!-- Alfabeto para filtrar por letra inicial -->
            <div class="alfabeto">
                <a href="{% url 'pesquisar' %}?letra=a" class="letras">A</a>
                <a href="{% url 'pesquisar' %}?letra=b" class="letras">B</a>
                <a href="{% url 'pesquisar' %}?letra=c" class="letras">C</a>
                <a href="{% url 'pesquisar' %}?letra=d" class="letras">D</a>
                <a href="{% url 'pesquisar' %}?letra=e" class="letras">E</a>
                <a href="{% url 'pesquisar' %}?letra=f" class="letras">F</a>
                <a href="{% url 'pesquisar' %}?letra=g" class="letras">G</a>
                <a href="{% url 'pesquisar' %}?letra=h" class="letras">H</a>
                <a href="{% url 'pesquisar' %}?letra=i" class="letras">I</a>
                <a href="{% url 'pesquisar' %}?letra=j" class="letras">J</a>
                <a href="{% url 'pesquisar' %}?letra=k" class="letras">K</a>
                <a href="{% url 'pesquisar' %}?letra=l" class="letras">L</a>
                <a href="{% url 'pesquisar' %}?letra=m" class="letras">M</a>
                <a href="{% url 'pesquisar' %}?letra=n" class="letras">N</a>
                <a href="{% url 'pesquisar' %}?letra=o" class="letras">O</a>
                <a href="{% url 'pesquisar' %}?letra=p" class="letras">P</a>
                <a href="{% url 'pesquisar' %}?letra=q" class="letras">Q</a>
                <a href="{% url 'pesquisar' %}?letra=r" class="letras">R</a>
                <a href="{% url 'pesquisar' %}?letra=s" class="letras">S</a>
                <a href="{% url 'pesquisar' %}?letra=t" class="letras">T</a>
                <a href="{% url 'pesquisar' %}?letra=u" class="letras">U</a>
                <a href="{% url 'pesquisar' %}?letra=v" class="letras">V</a>
                <a href="{% url 'pesquisar' %}?letra=w" class="letras">W</a>
                <a href="{% url 'pesquisar' %}?letra=x" class="letras">X</a>
                <a href="{% url 'pesquisar' %}?letra=y" class="letras">Y</a>
                <a href="{% url 'pesquisar' %}?letra=z" class="letras">Z</a>
            </div>
            
            
            {% if pesquisando %}
                {% if h3 %}
                    <h3>{{ h3 }}</h3>
                {% endif %}
                {% if pesquisando.resultado %}
                    {% for usuario in pesquisando.resultado %}
                        <table>
                            <tr>
                                <td class="nome"><strong>Nome</strong></td>
                                <td class="data"><strong>Data de Nascimento</strong></td>
                                <td class="email"><strong>Email</strong></td>
                                <td class="pais"><strong>País</strong></td>      
                            </tr>
                            <tr>
                                <td class="nome">{{ usuario.nome }}</td>
                                <td class="data">{{ usuario.data_nascimento|date:"d" }}/{{ usuario.mes_nascimento }}/{{ usuario.data_nascimento|date:"Y" }}</td>
                                <td class="email">{{ usuario.email }}</td>
                                <td class="pais">{{ usuario.pais }}</td>
                            </tr>
                        </table><br>
                    {% endfor %}
                {% else %}
                    <p>Nenhum resultado encontrado.</p>
                {% endif %}
            {% else %}
                {% for usuario in pesquisando %}
                    <table>
                        <tr>
                            <td class="nome"><strong>Nome</strong></td>
                            <td class="data"><strong>Data de Nascimento</strong></td>
                            <td class="email"><strong>Email</strong></td>
                            <td class="pais"><strong>País</strong></td>      
                        </tr>
                        <tr>
                            <td class="nome">{{ usuario.nome }}</td>
                            <td class="data">{{ usuario.data_nascimento|date:"d" }}/{{ usuario.mes_nascimento }}/{{ usuario.data_nascimento|date:"Y" }}</td>
                            <td class="email">{{ usuario.email }}</td>
                            <td class="pais">{{ usuario.pais }}</td>
                        </tr>
                    </table><br>
                {% endfor %}
        {% endif %}
        <a href="#topo" class="topo"><b>Volta ao Topo</b></a>
    </div>
</body>
</html>
