/* Arquivo de estilo do Sistema de Cadastro GTC*/
/* body Principal */
* {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    width: 100%;
    height: 100%;
    background-color: rgb(153,153,153);
    background-size: 100%;
    background-position: center;
    margin:0;
    font-family: "Courier New";
}
/* Arquivo Menu */
.menu {
    width: 100%; /* Define a largura da div .menu como 100% */
    height: 280px; /* Define a altura da div .menu como 280 pixels */
    /* Define uma imagem de fundo para a div .menu */
    background-color: rgb(90, 185, 248);
    /*background-size: contain;  Define o tamanho da imagem de fundo como cobrir */
   /* background-repeat: no-repeat;   Define que a imagem de fundo não deve se repetir */
   /* background-position: center;  Define a posição da imagem de fundo como no topo */
    border: 2px solid rgb(28, 28, 28); /* Adiciona uma borda à div .menu */
    margin: 0; /* Remove as margens padrão da div .menu */
    position: relative; /* Define a posição da div .menu como relativa */
    padding-bottom: 20px; /* Adiciona um espaço para os botões */
}
.banner {
    width: 100%; 
    height: 240px; /* Define a altura da div .menu como 280 pixels */
    border-bottom: 2px solid rgb(28, 28, 28);
}
.logo1 {
    width: 33px; /* Define a largura do elemento .s1 como 200 pixels */
    height: 33px; /* Define a altura do elemento .s1 como 200 pixels */
    margin-top: -4px;
    margin-left: 8px;
    border-radius: 100%; /* Define um raio de borda de 100% (círculo) para o elemento .if2 */
    border: 1px solid rgb(28, 28, 28); /* Adiciona uma borda ao elemento .if2 */
}
.botoes {
    position: absolute; /* Define a posição dos botões como absoluta */
    margin-left: 55px;
    bottom: 2; /* Coloca os botões na parte inferior da div .menu */
    left: 50%; /* Alinha os botões horizontalmente */
    transform: translateX(-50%); /* Centraliza os botões */
}