/* Arquivo de estilo do Sistema de Cadastro GTC*/
/* body Principal */
* {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    width: 100%;
    height: 100%;
    background-color: rgb(60, 60, 60);
    border-bottom: 2px solid rgb(28, 28, 28);
    border-left: 2px solid rgb(28, 28, 28);
    border-right: 2px solid rgb(28, 28, 28);
    background-size: 100%;
    background-position: center;
    margin:0;
    overflow-x: hidden;
    font-family: "Monaco", monospace;
}
/* Arquivo Menu */
.menu {
    width: 100vw; /* Define a largura da div .menu como 100% */
    height: 43vh; /* Define a altura da div .menu como 280 pixels */
    /* Define uma imagem de fundo para a div .menu */
    background-image: url(img/banner.png);
    background-size: 100vw 37.5vh; /* Define o tamanho da imagem de fundo como cobrir */
    background-repeat: no-repeat;  /* Define que a imagem de fundo não deve se repetir */
    background-position: top; /* Define a posição da imagem de fundo como no topo */
    border: 2px solid rgb(28, 28, 28); /* Adiciona uma borda no topo da div .menu */
    margin: 0; /* Remove as margens padrão da div .menu */
    position: relative; /* Define a posição da div .menu como relativa */
    padding-bottom: 2%; /* Adiciona um espaço para os botões */
}
.boxb{
    position: absolute; /* Define a posição dos botões como absoluta */
    width: 100vw;
    height: 5vh;
    border-top: 2px solid rgb(28, 28, 28);
    background-color: rgb(48, 204, 252);
    bottom: 0vh; /* Cola a div 'boxb' na parte inferior da div 'menu' */
    left: 0; /* Alinha a div 'boxb' à esquerda */
    right: 0; /* Alinha a div 'boxb' à direita */
    z-index: 1; /* Definir a .box1 como a primeira na ordem de empilhamento dos elementos*/
    
}
.botoes {
    position: absolute; /* Define a posição dos botões como absoluta */
    width: 99vw; /* Largura ajustável para se adaptar ao tamanho da tela */
    margin: 0vh 2.5vw; /* Centraliza horizontalmente */
    bottom: 0.6vh; /* Define a mesma posição vertical da div 'boxb' */
    left: 50vw; /* Alinha os botões horizontalmente */
    transform: translateX(-50%); /* Centraliza os botões */ 
    z-index: 2; /* Definir a .botoes como a sugunda na ordem de empilhamento dos elementos*/
}
.botao {
    color: rgb(30, 30, 30); /* Define a cor do texto dos botões */
    border-radius: 10px; /* Adiciona um raio de borda aos botões */
    padding: 0.5vh 1.5vw; /* Adiciona preenchimento aos botões */
    margin-right: -2vw; /* Adiciona uma margem à direita dos botões */
    text-decoration: none; /* Remove a decoração de texto dos botões */
}
.botao:last-child {
    margin-right: 0; /* Remove a margem à direita do último botão */
}
.botao.ativo {
    color: rgb(30, 30, 30); /* Define a cor do texto dos botões */
    border-radius: 10px; /* Adiciona um raio de borda aos botões */
    padding: 0.5vh 1.5vw; /* Adiciona preenchimento aos botões */
    margin-right: -2vw; /* Adiciona uma margem à direita dos botões */
    text-decoration: none; /* Mantém a decoração de texto removida */
    background-color: rgb(30, 173, 216); /* Adiciona um fundo semi-transparente ao botão ativo */
}

.logo1 {
    position: absolute; /* Define a posição dos botões como absoluta */
    width: 25px; /* Define a largura do elemento .i3 como 300 pixels */
    height: 25px; /* Define a altura do elemento .i3 como 300 pixels */
    margin-top: 0;
    margin-left: 1vw;
    border-radius: 100%; /* Define um raio de borda de 100% (círculo) para o elemento .i1 */
    top: 50%; /* Ajusta a posição vertical da logo1 */
    transform: translateY(-50%); /* Centraliza verticalmente a logo1 */
    z-index: 3; /* Definir a .logo1 como a terceira na ordem de empilhamento dos elementos*/
}h1 {
    width: 70vw;
    margin-left: 9.5vw;
    text-align: center;
    color: rgb(30, 30, 30);
    background-color: rgb(30, 173, 216); 
    border: 2px ridge rgb(48, 204, 252);
    text-decoration: none;
}
h3 {
    width: 70vw;
    margin-left: 9.5vw;
    text-align: center;
    color: rgb(30, 30, 30);
    background-color: rgb(30, 173, 216); 
    border: 2px ridge rgb(48, 204, 252);
    text-decoration: none;
}
/* Página Principla */
.principal {
    width: 90vw;
    height: 220vh;
    margin-top: 1vh;
    margin-left: 4vw;
    margin-bottom: 2vh;
    background-color: rgb(80, 80, 80);
    border-style: groove;
    border-color: rgb(48, 204, 252);
}

table {
    width: 70vw;
    margin-left: 9.5vw;
    border: 2px ridge rgb(48, 204, 252);
    border-collapse: collapse;
}

td {
    max-height: 5vh;
    background-color:aliceblue;
    border : 2px ridge rgb(48, 204, 252);
    text-align: center;
}

/* Estilo para a célula 'Nome' */
.nome {
    max-width: 40%;
    height: 8vh;
    background-color: rgb(30, 173, 216); 
}
.nome0{
    max-width: 40%;
    height: 8vh;
    background-color:aliceblue;
}

/* Estilo para a célula 'Data de Nascimento' */
.data {
    max-width: 20%;
    height: 8vh;
    background-color: rgb(30, 173, 216); 
}

.data0 {
    max-width: 20%;
    height: 8vh;
    background-color:aliceblue;
}
/* Estilo para a célula 'Email' */
.email {
    max-width: 30%;
    height: 8vh;
    background-color: rgb(30, 173, 216); 
}
.email0 {
    max-width: 30%;
    height: 8vh;
    background-color:aliceblue;
}

/* Estilo para a célula 'País' */
.pais {
    max-width: 10%;
    height: 8vh;
    background-color: rgb(30, 173, 216); 
}
.pais0 {
    max-width: 10%;
    height: 8vh;
    background-color:aliceblue;
}
/* Estilo para a link 'Volta ao topo' */
.topo {
    max-width: 6vw;
    height: 8vh;
    margin-left: 40vw;
    padding: 0.5vh 1vw;
    color: rgb(30, 30, 30);
    background-color: rgb(30, 173, 216);
    border: 2px ridge rgb(48, 204, 252);
    text-align: center;
    text-decoration: none;
}
.nb{
    width: 20vw;
    margin-left: 9.5vw;
    padding: 0.5vh 1vw;
    color: rgb(30, 30, 30);
    background-color: rgb(30, 173, 216);
    border: 2px ridge rgb(48, 204, 252);
    text-align: center;
    text-decoration: none;
}
.caep{
    width: 70vw;
    margin-left: 9.5vw;
    background-color:aliceblue;
    border: 2px ridge rgb(48, 204, 252);
}

/* Cadastrar */
.cadastrar {
    width: 90vw;
    max-height: 100vh;
    margin-top: 1vh;
    margin-left: 4vw;
    margin-bottom: 2vh;
    background-color: rgb(80, 80, 80);
    border-style: groove;
    border-color: rgb(48, 204, 252);
}
/* Atualizar */
.atualizar {
    width: 90vw;
    max-height: 220vh;
    overflow-y: auto;
    margin-top: 1vh;
    margin-left: 4vw;
    margin-bottom: 2vh;
    padding-bottom: 8vh;
    background-color: rgb(80, 80, 80);
    border-style: groove;
    border-color: rgb(48, 204, 252);
}
.atualizar > ul {
    margin-left: 10px; 
}
.editar {
    margin-left: -10px;
}
/* Deletar */
.deletar {
    width: 90vw;
    max-height: 220vh;
    overflow-y: auto;
    margin-top: 1vh;
    margin-left: 4vw;
    margin-bottom: 2vh;
    padding-bottom: 8vh;
    background-color: rgb(80, 80, 80);
    border-style: groove;
    border-color: rgb(48, 204, 252);
}
/* Pesquisar */
.pesquisar {
    width: 90vw;
    max-height: 220vh;
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando necessário */
    margin-top: 1vh;
    margin-left: 4vw;
    margin-bottom: 2vh;
    padding-bottom: 8vh;
    background-color: rgb(80, 80, 80);
    border-style: groove;
    border-color: rgb(48, 204, 252);
}
/* Alfabeto */
.alfabeto {
    width: 70vw;
    margin-left: 9.5vw;
    padding: 1vh 1.2vw;
    background-color:aliceblue;
    border: 2px ridge rgb(48, 204, 252);
    text-align: center;
    
}
.alfabeto > a{
    width: 1.4vw;
    color: rgb(30, 30, 30);
    margin-left: 1.2vw;
    text-decoration: none;
}

.email_e > p{
    width: 70vw;
    height: 5vh;
    background-color: rgb(20, 173, 216);
    border: 2px ridge rgb(48, 204, 252);
    margin-left: 9.5vw;
    padding: 0.5vh 1vw;
    text-align: center;
    color: rgb(30, 30, 30);  
}

/* Inicialmente, ocultar as divs */
.sucesso{
    display: none; /* Oculta as divs de sucesso e falha */
}
.sucesso > p {
    width: 30vw;
    height: 5vh;
    background-color: rgb(20, 173, 216);
    border: 2px ridge rgb(48, 204, 252);
    margin-left: 9.5vw;
    padding: 0.5vh 1vw;
    text-align: center;
    color: rgb(30, 30, 30);
}
.falha{
    display: none; /* Oculta as divs de sucesso e falha */
}
.falha > p {
    width: 25vw;
    height: 5vh;
    background-color: rgb(20, 173, 216);
    border: 2px ridge rgb(48, 204, 252);
    margin-left: 9.5vw;
    padding: 0.5vh 1vw;
    text-align: center;
    color: rgb(30, 30, 30);
}
/* Animar a aparência e o desaparecimento das divs */
@keyframes fade-in {
    from { opacity: 1; } /* Define a opacidade inicial como 0 (totalmente transparente) */
    to { opacity: 1; } /* Define a opacidade final como 1 (totalmente opaco) */
}

@keyframes fade-out {
    from { opacity: 1; } /* Define a opacidade inicial como 1 (totalmente opaco) */
    to { opacity: 0; } /* Define a opacidade final como 0 (totalmente transparente) */
}

/* Definir tempo de espera antes de começar a animação de desaparecimento */
.sucesso.show {
    display: block; /* Mostra a div de sucesso */
    animation: fade-in 1s ease-in-out forwards, fade-out 1s ease-in-out 3s forwards; 
    /* Aplica a animação de fade-in com duração de 1 segundo e espera 5 segundos antes de aplicar a animação de fade-out */
}

/* Aplicar a animação à div de falha */
.falha.show {
    display: block; /* Mostra a div de falha */
    animation: fade-in 1s ease-in-out forwards, fade-out 1s ease-in-out 3s forwards; 
    /* Aplica a animação de fade-in com duração de 1 segundo e espera 5 segundos antes de aplicar a animação de fade-out */
}

